.pr-requestform {

    &-container {
        width: 100%;
        padding: 20px;
    }

    &-title {
        margin-bottom: 10px;
        text-align: left;
    }

    &-inputs {
        display: flex;
    }
}
