.pr-button {
  padding: 15px;
  border: 0;
  border-radius: 30px;
  cursor: pointer;

  &-base {
    display: inline-block;
  }

  &-container {
    display: flex;
  }

  &--primary {
    background-color: $font-color-primary;
  }

  &--secondary {
    background-color: transparent;
    border-color: $font-color-primary;
    border-width: 1px;
    border-style: solid;
  }
}
