.navigation {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

    &-list {
        padding: 0 0 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        &-link {
            padding: 10px 0;
            display: inline-block;
        }
    }
}