.card {
  padding: 1rem;
  background-color: $light-grey-1;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

@media (min-width: 728px) {
  .card {
    padding: 1.5rem;
  }
}
