<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= htmlWebpackPlugin.options.title %></title>

        <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
    </head>
    <body>
        <h1>Hello World</h1>
        <div id="app"></div>
        <script>
            (function () {
              var state = {
                application: {
                  dataApiBaseUrl: '',
                  featureSwitches: {
                    IsAdminEnabled: false,
                    IsMovieRequestEnabled: true
                  }
                }
              };
              window.__PRELOADED_STATE__ = state;
            })();
          </script>

          <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
    </body>
</html>