// Plex Request base branding styles
body {
  background-color: $grey;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-base;
}

h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}

ul,
ol,
p {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $font-color-base;
}

a {
  color: $font-color-link;
}
