.pr-header {
    width: 100%;
    padding: 10px 25px 0;
    background: $black;

    &-top-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &-logo {
        display: inline-block;
        width: 255px;

        &-two {
            height: 100px;
        }
    }
}