.pr-header {
  width: 100%;
  padding: 20px 25px 0;

  &-container {
    background: $dark-grey-3;
  }

  &-top-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &-logo {
    width: 150px;
    height: 65px;
    display: inline-block;
    position: relative;
    fill: $white;

    &-two {
      height: 100px;
    }
  }
}
