// Colors
$black: #000;
$grey-dark: #282a2d;
$gold: #e5a00d;
$white: #fff;

// Font Styles
// Family
$font-family-base: 'Helvetica', 'Arial', san-serif;

// Size
$font-size-base: 16px;
$font-size-h1: 2.125em;
$font-size-h2: 2em;
$font-size-h3: 1.815em;
$font-size-h4: 1.5em;
$font-size-body: 1em;
$font-size-body--small: 0.825em;

// Icons
