.pr-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: separate;
  border-spacing: 1px;

  &-container {
    width: 100%;
    margin: 0 auto;
  }

  &-title {
    margin-left: 5px;
    text-align: left;
    font-size: $font-size-h4;
    color: $white;
  }

  & tr {
  }

  & td {
    padding: 5px;
  }

  &-title {
    font-size: $font-size-h4;
    color: $white;
  }

  &-header {
    text-align: center;

    & > tr {
      & > td {
        padding: 15px 5px;
        background-color: rgba(0, 0, 0, 0.2);
        // border-left-width: 1px;
        // border-right-width: 1px;
        // border-style: solid;

        color: $white;
      }
    }

    &-button {
    }
  }

  &-body {
    & > tr {
      background-color: rgba(102, 102, 102, 0.3);

      &:nth-child(even) {
        background-color: rgba(102, 102, 102, 0.3);
      }

      &:nth-child(even) {
        background-color: rgba(51, 51, 51, 0.3);
      }

      & > td {
        padding: 5px 10px;
        text-align: center;
        vertical-align: middle;
        color: $white;

        &.pr-table-poster {
          width: 75px;

          & > img {
            width: 100%;
            height: 100%;
            display: block;
          }
        }
      }
    }
  }

  &-footer {
    display: none;

    & > tr {
      & > td {
        padding: 25px 0 0;
        text-align: center;
        color: $gamboge;
      }
    }
  }

  &--empty {
    .pr-table {
      &-header {
        display: table-header-group;
      }

      &-body {
        display: none;
      }

      &-footer {
        display: table-footer-group;
      }
    }
  }
}
